
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #e7fcff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 3;
}

header  {
  color: black;
  margin: 10px;
  font-size: 1.8em;
  font-weight: thin;
}



#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  padding-bottom: 50px;
}

#navbar header{
  color: #ff6700;
  padding-right: 0px;
  margin: 20px;
  font-size: 40px;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

#main-doc header{
  color: #082c41;
}

.nav-link {
  color: #CC5200;
  font-size: 30px;
  text-decoration: none;
  margin: 60px;

}
